/* app/globals.css */
:root {
  background-color: #000000;
  color: #ffffff;
}

html, body {
  background-color: #000000; /* Mấu chốt là dòng này */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
