/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #050505 !important; /* Đen sâu hơn */
  color: #fff;
  font-family: 'Quicksand', sans-serif !important; /* Font bo tròn mềm mại */
  overflow: hidden;
}

/* Thanh cuộn tối giản */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #1e1e1e; border-radius: 10px; }
